#channels {
    position: absolute;
    transition: left 1s ease-out;
    top: 100%;
    overflow: hidden;
    color: black;
    z-index: 1;
    font-size: 0.5em;
    background-color: #71967E;
    padding: 1em;
    box-shadow: 0 5px 5px;
}
#channels-links {
    padding: 0 10px;
}
#channels-links > a {
    display: block;
    border-bottom: 1px dotted #455D41
}
#channels-links > a:last-child { border-bottom: none; }

#new-channel-link {
    text-align: center;
    cursor: pointer;
}
#new-channel-modal-backdrop {
    display: none;
    position: fixed;
    top: 0; bottom: 0; left: 0; right: 0;
    background-color: black;
    opacity: 0.5;
    z-index: 4;
}
#new-channel-modal-form {
    display: none;
    background-color: #71967E;
    width: 200px;
    padding: 15px 25px;
    border-radius: 4px;
    margin: 0 auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    z-index: 5;
}
#new-channel-modal-form > * {
    display: block;
    margin: 4px 0;
}
#new-channel-modal-form > input[type=text] {
    width: 100%;
}
.divider {
    border-bottom: 2px dotted #455D41;
    margin: 10px 0;
}
#privacy-selector {
    margin: 8px 0;
}