.cm-chart {
    position: relative;
}
.cm-chart .ct-label {
    color: rgba(255, 255, 255, 0.5);
    white-space: nowrap;
    text-overflow: elipses;
}
.cm-chart .ct-grid {
    stroke: rgba(255, 255, 255, 0.2);
}
.cm-chart .ct-series-a .ct-point, .cm-chart .ct-series-a .ct-line, .cm-chart .ct-series-a .ct-bar, .cm-chart .ct-series-a .ct-slice-donut {
    stroke: #A6C792;
}
.cm-chart .ct-series-a .ct-slice-pie, .cm-chart .ct-series-a .ct-area {
    fill: #A6C792;
}