
@media all and (min-width: 600px) {
    #chat > article > div > aside.username {
        width: 140px;
    }
    #chat > article > div > main {
        margin-left: 150px;
    }
}

#chat-main {
    position: relative;
    overflow-y: auto;
}
#chat {
    padding: 0 7px;
    overflow-y: scroll;
    overflow-x: hidden;
    font-weight: 300;
}
#chat img {
    max-height: 30vh;
    max-width: 90%;
}
#chat .image-wrapper {
    position: relative;
}
#chat .image-wrapper > a {
    visibility: hidden;
}
#chat .image-wrapper:hover > a {
    visibility: visible;
}
#chat > article > div {
    position: relative;
    padding: 0.5em 0;
    max-width: 900px;
    min-height: 1em;
    margin: 0 auto;
}
#chat > article > div > aside.username {
    position: absolute;
    width: 110px;
    text-align: right;
    left: 0px;
    color: #A6C792;
    white-space: nowrap;
    overflow: hidden;
}
#chat > article > div > main {
    margin-left: 120px;
}
#chat > article > div > main a {
    color: #03a9f4;
}
#chat > article > div > time {
    float: right;
    opacity: 0.5;
    font-size: 0.75em;
}
#chat > article:nth-child(even) {
    background-color: rgba(50,50,50,0.25);
}
#chat-input-container {
    flex: none;
    position: relative;
    width: 100%;
}
#help-link {
    position: absolute;
    right: 8px;
    top: 4px;
    font-size: 0.75em;
}
#chat-input {
    height: 5em;
    width: 100%;
    background-color: #444;
    color: #ccc;
    z-index: 3;
    font-family: inherit;
    font-size: inherit;
}