input {
    font-family: 'Titillium Web', sans-serif;
}
input[type=radio] {
    display: none;
}
input[type=radio]:checked ~ label {
    color: #C8DED0;
    background-color: #264430;
    padding: 0 6px;
}
input[type=submit] {
    float: right;
    border: none;
    background-color: #C8DED0;
    padding: 4px 10px;
}