@viewport {
    width: device-width;
}

body {
    position: relative;
    background-color: #222;
    color: #ccc;
    margin: 0;
}
body, input, textarea[type=text] {
    font-family: 'Open Sans', sans-serif;
}
body > header, #username, h1, h2, h3, h4 {
    font-family: 'Titillium Web', sans-serif;
}
a {
    text-decoration: none;
    color: inherit;
}
a:hover:not(#logo):not(#channel) {
    text-decoration: underline;
}
input:focus {
    outline: none;
}