@media all and (max-width: 600px) {
    #logo {
        display: none;
    }
}
body > header {
    position:relative;
    text-align: center;
    font-size: 1.5em;
    background: #71967E;
    color: black;
    padding: 5px;
    margin: 0;
    height: 1.5em;
    flex: none !important;
    z-index: 2;
    box-shadow: 0px 3px 10px;
}
#logo {
    letter-spacing: 4px;
}
#channel {
    position: absolute;
    left: 7px;
}
#username {
    position: absolute;
    right: 7px;
    top: 2px;
    background: none;
    font-size: inherit;
    border: none;
    text-align: right;
}